nav.compact {
	z-index: 10000;
	background-image: linear-gradient(#FFF, #CCC);
}

nav.compact .dflogo {
	border:1px solid #BBB;
	border-top-color:#FFF;
	border-left-color:#FFF;
	float: left;
	height:2em;
	overflow:hidden;
}
nav.compact .dflogo img {
	height:100%;
	margin:0 2px;
}

nav.compact,
nav.compact ul ul {
	background-color: #E9E9E9;
}
nav.compact {
	cursor:default;
	position:relative;
}

nav.compact ul {
	margin:0;
	padding:0;
}

nav.compact > [type="checkbox"],
nav.compact > label {
	display: none;
}

nav.compact > ul {
	border-left:1px solid #FFF;
	border-right:1px solid #CCC;
}
nav.compact ul ul {
	border-left:1px solid #FFF;
	border-radius:0 0 3px 3px;
	box-shadow: 1px 1px 1px #CCC;
}
nav.compact ul ul ul {
	border-radius: 0 3px 3px 0;
	left:100%;
	top:-1px;
}

nav.compact li {
	border:1px solid #BBB;
	border-top-color:#FFF;
	border-left-color:#FFF;
	line-height: 200%;
	margin:0;
	padding:0 10px;
	position:relative;
	vertical-align: top;
	white-space: nowrap;
}
nav.compact li li {
	line-height: 300%;
}

nav.compact li a {
	text-decoration:none;
}

nav.compact > ul > li:hover {
	background-image: linear-gradient(#EEE, #FFF);
	border-color:#FFF;
	border-top-color: #BBB;
	border-left-color: #999;
}
nav.compact ul li:hover:not(.divider) {
	background-color: #FFF;
	border-radius:0 0 3px 3px;
}

nav.compact a {
	display:block;
}

nav.compact .divider {
	border:0;
	border-bottom:1px solid #FFF;
	border-top:1px solid #BBB;
	line-height: 4px;
}

nav.compact ul ul li {
	border:0;
	border-top:1px solid #666;
	border-top-color:rgba(255,255,255,0.2);
}

nav.compact > ul > li > ul > li {
	background-repeat: no-repeat;
	background-position: 3px 50%;
	padding-left: 20px;
}

/* small mobile devices */
@media only screen and (max-width: 800px)
{
	nav.compact > ul {
		display: none;
	}
	nav.compact li {
		line-height: 300%;
	}
	nav.compact > label {
		background: #222;
		border-radius: 5px;
		content: "☰";
		cursor: pointer;
		display: block;
		height: 40px;
		position: absolute;
		right: 10px;
		top: 0px;
		width: 40px;
		z-index: 1000000000;
	}
	nav.compact > label::after{
		background: #FFF;
		border-radius: 2px;
		box-shadow: 0px 10px 0px #FFF, 0px 20px 0px #FFF;
		content:'';
		display: block;
		height: 5px;
		margin: 7px 5px;
		width: 30px;
	}
	nav.compact > [type="checkbox"]:checked ~ ul {
		background-color:#E9E9E9;
  		display: block;
		left: 10px;
  		position: absolute;
		right: 10px;
		z-index: 999999999;
	}
}

@media only screen and (min-width: 801px)
{
	nav.compact > ul > li {
		display:inline-block;
	}
	nav.compact ul ul {
		visibility:hidden;
		position:absolute;
		left:-2px;
	}
	nav.compact li:hover > ul,
	nav.compact li:hover > * > ul {
		visibility:visible;
	}

	/* Nice trick to show triangle when sub-menu exists. Only works with visibility */
	nav.compact > ul > li:hover ul ul::before {
		color: #000;
		content:'▸';
		left:-10px;
		position:absolute;
		text-shadow:1px 1px 1px #fff;
		visibility:visible;
	}
	nav.compact > ul > li > ul > li {
		padding-right: 16px;
	}
}
