<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="dragonflycms" />
                <rule name="dragonflycms" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="index.php?{R:1}" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <httpErrors>
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="400" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="401" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
