.tabs {
	list-style: none;
	padding:0 !important;
}
@media only screen and (min-width: 480px)
{
	.tabs {
		border-bottom: 1px solid #DDD;
		height: 40em;
		margin:0 0 5px 0;
		min-height: 200px;
		overflow:auto;
		position: relative;
		resize:vertical;
		white-space:nowrap;
		width: 100%;
	}
	.tabs > * {
		display:inline;
		resize:horizontal;
	}
	.tabs > * > *:first-child {
		background-color: #EEE;
		border: 1px solid #EEE;
		border-bottom:0;
		border-radius: 4px 4px 0 0;
		color: #888;
		cursor: pointer;
		display: inline-block;
	/*	float: left;*/
		height: 18px;
		line-height: 19px;
	/*	margin: 0 4px 0 0;*/
		padding: 0 1em;
		position: relative;
		text-align: center;
		text-decoration: none;
		top: 3px;
		/*z-index:-1*/
	}
	/*.tabs > *:target > *:first-child,*/
	.tabs > *.current > *:first-child {
		background-color: #fff;
		border: 1px solid #CCC;
		border-bottom:0;
		color: #000;
		height: 22px;
		line-height: 22px;
		text-decoration:none;
		top: 0;
		z-index: 2;
	}
	.tabs > * > *:first-child:focus { outline:0; }
	.tabs > * > *:first-child:hover { text-decoration:underline; }
	/*.tabs > *:target > *:first-child:hover,*/
	.tabs > *.current > *:first-child:hover { text-decoration:none; cursor:default; }

	.tabs > * > *:nth-child(2) {
		border-top: 1px solid rgba(0,0,0,0.3);
		bottom:5px;
		display: block;
		left: 0;
		overflow: auto;
		padding: 5px;
		position: absolute;
		right: 0;
		top: 22px;
		visibility: hidden;
		z-index: 1;
	}
	/*.tabs > li + li:not(:target) div {display: none}*/
	/*.tabs > *:target > *:nth-child(2),*/
	.tabs > *.current > *:nth-child(2) { visibility: visible; }
}
