ul.tree, .tree ul
{
	background-image: url(../images/tree/line.png);
	background-position: 8px 100%;
	background-repeat: repeat-y;
	clear: both;
	margin: 0;
	padding:0;
	list-style-type: none;
}
.tree {
	margin: 2px 0;
}
.tree * { vertical-align:top; }
.tree ul { padding:0; }
.tree .folds ul { display: block; }
.tree .folds ul:empty,
.tree .unfolds ul { display:none; }

.tree li, .tree li > a:first-child {
	background-image: url(../images/tree/base.png);
	background-repeat: no-repeat;
	line-height: 18px;
	margin:0;
	padding:0;
	position:relative;

	overflow:hidden;
	text-overflow:ellipsis;
}
.tree li {
	background-position: -44px -118px;
	clear: both;
	list-style: none;
	min-height: 20px;
	padding-left: 16px;
}
.tree li:last-child { background-color: #fff; } /* hide tree line */
.tree .unfolds { background-position: -16px -128px; }
.tree .folds { background-position: 4px -146px; }

.tree li > a:first-child {
	background-repeat: no-repeat;
	background-position: -144px 2px;
	display:block;
	height: 20px;
/*	overflow:hidden;*/
	padding-left: 20px;
	text-decoration:none;
	white-space:nowrap;
}
.tree li:hover > a:first-child, .tree li > a:first-child:hover, .tree li > a:first-child:focus {
	background-color:#F9F9F9;
}

.tree li.folds > a:first-child { background-position: -44px -98px; }
.tree li.unfolds > a:first-child, .tree li > a.folder { background-position: -64px -78px; }
.tree a.hidden { opacity:0.3; }
.tree li.redirect > a:first-child { background-position: -84px -58px; }
.tree a.expired { background-position: -104px -40px; }

.tree > li.root:first-child {
	background-color: #fff; /* hide tree line */
	background-position: -44px -98px;
	padding-left: 20px;
}

.tree .details { display:block; position:absolute; right:0; top:0; min-height: 20px; }
.tree .details > * {
	display:inline-block;
}
.tree .details span {
	min-width:28px;
	padding:0 3px;
	white-space:pre;
}
