
<div class="border">

	<form action="" method="post" name="users_config">
	<ul class="tabs" style="height:700px">
		<li id="main">
			<a href="?admin&amp;op=users_cfg#main">Main</a>
			<div>
				<table><tbody>
					<tr><th colspan="2">General</th></tr>
					<tr title="Allow members to change the number of news articles displayed on the homepage">
						<td i18n:translate="_USERSHOMENUM"></td>
						<td><input type="checkbox" name="member[user_news]" tal:attributes="checked CONFIG/member/user_news"/></td>
					</tr>
					<tr title="Allow members to choose a different theme">
						<td i18n:translate="_ACTALLOWTHEME"></td>
						<td><input type="checkbox" name="member[allowusertheme]" tal:attributes="checked CONFIG/member/allowusertheme"/></td>
					</tr>
					<tr title="Allow members to change their email address">
						<td i18n:translate="_ACTALLOWMAIL"></td>
						<td><input type="checkbox" name="member[allowmailchange]" tal:attributes="checked CONFIG/member/allowmailchange"/></td>
					</tr>
					<tr title="The minimum length a password can be on new user registration">
						<td i18n:translate="_PASSWDLEN"></td>
						<td><input type="number" name="member[minpass]" min="3" max="19" step="1" pattern="[3-9]|1[0-9]" tal:attributes="value CONFIG/member/minpass" style="width:3em;"/></td>
					</tr>
					<tr title="The minimum length a nickname can be">
						<td i18n:translate="Minimum length nickname"></td>
						<td><input type="number" name="identity[nick_minlength]" min="4" max="50" step="1" pattern="[3-9]|1[0-9]" tal:attributes="value CONFIG/identity/nick_minlength" style="width:3em;"/></td>
					</tr>
					<tr title="Characters that may not appear in nicknames">
						<td i18n:translate="Disallowed nickname characters"></td>
						<td><input type="text" name="identity[nick_invalidchars]" tal:attributes="value CONFIG/identity/nick_invalidchars"/></td>
					</tr>
				</tbody><tbody>
					<tr><th colspan="2">Privacy</th></tr>
					<tr title="Show profiles to registered users only">
						<td i18n:translate="">Show profiles to registered users only</td>
						<td><input type="checkbox" name="member[private_profile]" tal:attributes="checked CONFIG/member/private_profile"/></td>
					</tr>
				</tbody><tbody>
					<tr><th colspan="2">Registration</th></tr>
					<tr title="Allow new user registrations">
						<td i18n:translate="_ACTALLOWREG"></td>
						<td><input type="checkbox" name="member[allowuserreg]" tal:attributes="checked CONFIG/member/allowuserreg"/></td>
					</tr>
					<tr title="Use email activation for new user registrations, in order to prevent fraudulent registrations">
						<td i18n:translate="_USEACTIVATE"></td>
						<td><input type="checkbox" name="member[useactivate]" tal:attributes="checked CONFIG/member/useactivate"/></td>
					</tr>
<!--
					<tr>
						<td>Q&amp;A Captcha</td>
						<td><input type="checkbox" name="member[qa_captcha]" tal:attributes="checked CONFIG/member/qa_captcha"/></td>
					</tr>
-->
					<tr title="Require the approval of an administrator before adding a new user to the database">
						<td i18n:translate="_REQUIREADMIN"></td>
						<td><input type="checkbox" name="member[requireadmin]" tal:attributes="checked CONFIG/member/requireadmin"/></td>
					</tr>
					<tr title="Send a notification email to the site owner upon new user registration">
						<td i18n:translate="_ACTNOTIFYADD"></td>
						<td><input type="checkbox" name="member[sendaddmail]" tal:attributes="checked CONFIG/member/sendaddmail"/></td>
					</tr>
					<tr title="Require members to accept an agreement before continuing with the registration process">
						<td i18n:translate="_USEREGISTERMSG"></td>
						<td><input type="checkbox" name="member[show_registermsg]" tal:attributes="checked CONFIG/member/show_registermsg"/></td>
					</tr>
					<tr>
						<td colspan="2"><textarea class="wysiwyg" name="member[registermsg]" style="height:20em;width:99%" tal:content="CONFIG/member/registermsg"></textarea></td>
					</tr>
				</tbody></table>
			</div>
		</li>

		<li id="avatars">
			<a href="?admin&amp;op=users_cfg#avatars">Avatars</a>
			<div>
				<table><tbody>
					<tr>
						<td i18n:translate="_AV_ALLOW_LOCAL"></td>
						<td><input type="checkbox" name="avatar[allow_local]" tal:attributes="checked CONFIG/avatar/allow_local"/></td>
					</tr><tr>
						<td><div i18n:translate="_AV_ALLOW_REMOTE"></div><i i18n:translate="_AV_ALLOW_REMOTE_INFO"></i></td>
						<td><input type="checkbox" name="avatar[allow_remote]" tal:attributes="checked CONFIG/avatar/allow_remote"/></td>
					</tr><tr>
						<td i18n:translate="_AV_ALLOW_UPLOAD"></td>
						<td><input type="checkbox" name="avatar[allow_upload]" tal:attributes="checked CONFIG/avatar/allow_upload"/></td>
					</tr><tr>
						<td i18n:translate="_AV_ALLOW_ANIMATED"></td>
						<td><input type="checkbox" name="avatar[animated]" tal:attributes="checked CONFIG/avatar/animated"/></td>
					</tr><tr>
						<td><div i18n:translate="_AV_MAX_FILESIZE"></div><i i18n:translate="_AV_MAX_FILESIZE_INFO"></i></td>
						<td><input type="number" min="0" name="avatar[filesize]" tal:attributes="value CONFIG/avatar/filesize" style="width:7em;"/> Bytes</td>
					</tr><tr>
						<td><div i18n:translate="_AV_MAX_AVATAR_SIZE"></div><i i18n:translate="_AV_MAX_AVATAR_SIZE_INFO"></i></td>
						<td><input type="number" min="0" name="avatar[max_height]" tal:attributes="value CONFIG/avatar/max_height" style="width:4em;"/>
							x <input type="number" min="0" name="avatar[max_width]" tal:attributes="value CONFIG/avatar/max_width" style="width:4em;"/></td>
					</tr><tr>
						<td><div i18n:translate="_AV_AVATAR_STORAGE_PATH"></div><i i18n:translate="_AV_AVATAR_STORAGE_PATH_INFO"></i></td>
						<td><input type="text" maxlength="255" name="avatar[path]" tal:attributes="value CONFIG/avatar/path" style="width:15em;"/></td>
					</tr><tr>
						<td><div i18n:translate="_AV_AVATAR_GALLERY_PATH"></div><i i18n:translate="_AV_AVATAR_GALLERY_PATH_INFO"></i></td>
						<td><input type="text" maxlength="255" name="avatar[gallery_path]" tal:attributes="value CONFIG/avatar/gallery_path" style="width:15em;"/></td>
					</tr><tr>
						<td><div i18n:translate="_AV_DEFAULT"></div><i i18n:translate="_AV_DEFAULT_INFO"></i></td>
						<td><input type="text" maxlength="255" name="avatar[default]" tal:attributes="value CONFIG/avatar/default" style="width:15em;"/></td>
					</tr>
				</tbody></table>
			</div>
		</li>

		<li id="fields">
			<a href="?admin&amp;op=users_cfg#fields">Fields</a>
			<div>
				<table>
					<tbody tal:repeat="section field_sections">
					<tr><th colspan="3" tal:content="section/label"></th></tr>
					<tr tal:repeat="field section/fields">
						<td tal:content="field/label"></td>
						<td><select tal:attributes="name 'fields[${field/name}]'">
							<option tal:repeat="option field/options" tal:attributes="value option/value; selected option/selected" tal:content="option/label"></option>
						</select></td>
						<td><button tal:condition="field/del_uri" tal:attributes="formaction field/del_uri" i18n:translate="_DELETE">delete></button></td>
					</tr>
					</tbody>
					<tfoot><tr>
						<td colspan="3"><button type="button" formaction="?admin&amp;op=users_cfg&amp;add_field" formmethod="get">Add custom field</button></td>
					</tr></tfoot>
				</table>
			</div>
		</li>

		<li id="PM">
			<a href="?admin&amp;op=users_cfg#PM">Welcome PM</a>
			<div>
				<label title="Send a welcome private message to a new user upon registration" style="margin:1em 0;width:auto;">
					<input type="checkbox" name="member[send_welcomepm]" tal:attributes="checked CONFIG/member/send_welcomepm"/>
					<span i18n:translate="_SENDWELCOMEPM"></span>
				</label>
				<div i18n:translate="_WELCOMEPMBODY"></div>
				<textarea class="bbcode" name="member[welcomepm_msg]" style="height:20em;width:100%" tal:content="CONFIG/member/welcomepm_msg"></textarea>
			</div>
		</li>

		<li id="denied-names">
			<a href="?admin&amp;op=users_cfg#denied-names">Denied Usernames</a>
			<div id="DeniedUserNames">
				<div tal:repeat="name DeniedUserNames">
					<input type="text" size="20" tal:attributes="value name" name="DeniedUserNames[]"/>
					<button type="button" class="icon-delete">-</button>
				</div>
				<div>
					<input type="text" size="20" name="DeniedUserNames[]"/>
					<button type="button" class="icon-add">+</button>
				</div>
			</div>
		</li>

		<li id="upload-quota">
			<a href="?admin&amp;op=users_cfg#upload-quota">Upload quota</a>
			<div>
				<table><thead>
					<tr><th>Type</th><th>Quota</th></tr>
				</thead><tbody>
					<tr>
						<td i18n:translate="">Anonymous</td>
						<td i18n:translate="">no</td>
					</tr>
					<tr>
						<td i18n:translate="">Members</td>
						<td><input type="number" name="member[upload_quota]" min="0" step="1" tal:attributes="value CONFIG/member/upload_quota"/> MiB</td>
					</tr>
					<tr>
						<td i18n:translate="">Administrators</td>
						<td i18n:translate="">Unlimited</td>
					</tr>
					<tr><th colspan="2">Groups</th></tr>
					<tr tal:repeat="group groups_upload_quota">
						<td><a tal:attributes="href '?admin&amp;op=Groups&amp;id=${group/id}'" tal:content="group/name">group/name</a></td>
						<td><var tal:content="group/quota">0</var> MiB</td>
					</tr>
				</tbody></table>
			</div>
		</li>

	</ul>

	<div style="text-align:right">
		<button i18n:translate="_SAVECHANGES">Save Changes</button>
		<button type="reset" i18n:translate="_RESET">Reset</button>
	</div>
	</form>
</div>
