
<form action="" method="post">
	<fieldset>
		<legend tal:content="module/title"></legend>

		<label for="custom_title" i18n:translate="">_CUSTOMTITLE</label>
		<input name="custom_title" id="custom_title" tal:attributes="value module/custom_title" maxlength="255" type="text"/>
		<br/>

		<label for="view" i18n:translate="">_VIEWPRIV</label>
		<span tal:condition="module/is_main_module" i18n:translate="">_MVALL</span>
		<select tal:condition-else="" name="view">
			<optgroup tal:repeat="groups php:\Dragonfly\Groups::getSystem()" tal:attributes="label groups/label">
				<option tal:repeat="group groups/groups" tal:attributes="value group/id; selected php:${group/id}==${module/view}" tal:content="group/label"></option>
			</optgroup>
		</select>
		<br/>

		<label i18n:translate="">_BLOCKS</label>
		<input type="checkbox" value="1" name="module_blocks[]" tal:attributes="checked php:${module/blocks}&amp;1"/> <span i18n:translate="">Left</span>
		<input type="checkbox" value="2" name="module_blocks[]" tal:attributes="checked php:${module/blocks}&amp;2"/> <span i18n:translate="">Right</span>
		<input type="checkbox" value="4" name="module_blocks[]" tal:attributes="checked php:${module/blocks}&amp;4"/> <span i18n:translate="">Center Up</span>
		<input type="checkbox" value="8" name="module_blocks[]" tal:attributes="checked php:${module/blocks}&amp;8"/> <span i18n:translate="">Center Down</span>
		<br/>

		<button name="save" i18n:translate="">_SAVECHANGES</button>
	</fieldset>
</form>

<form action="" method="post" tal:condition="module/author | module/dbsize">
	<fieldset>
		<legend i18n:translate="">_TB_INFO</legend>

		<label i18n:translate="">_CREDITS_AUTHORS</label>
		<a href="http://dragonflycms.org" target="_blank">CPG-Nuke Dev Team</a>
		<br/>

		<label i18n:translate="">_CREDITS_DESC</label>
		<var tal:replace="module/description"></var>
		<br/>

		<label i18n:translate="">_VERSION</label>
		<var tal:replace="module/version"></var>
		<button type="submit" name="upgrade" tal:condition="module/upgrade" tal:content="module/upgrade"></button>
		<button type="submit" name="downgrade" tal:condition="module/downgrade" tal:content="module/downgrade"></button>
		<br/>

		<div tal:condition="module/dbsize">
			<label i18n:translate="">_DBSIZE</label>
			<var tal:replace="module/dbsize"></var>

			<input type="hidden" name="mode" value="BackupData"/>
			<input type="hidden" name="gzip" value="1"/>
			<input type="hidden" name="filename" tal:attributes="value module/title"/>
			<input type="hidden" name="tablelist[]" tal:repeat="tbl module/dbtables" tal:attributes="value tbl"/>
			<button formaction="?admin&amp;op=database" i18n:translate="">_SAVEDATABASE</button>
		</div>
	</fieldset>
</form>
