<div class="border">

	<h1 i18n:translate="_SITECONFIG">Web Site Configuration</h1>

	<p>
	<span tal:omit-tag="" tal:repeat="item menu">
		<span tal:omit-tag=""  tal:condition="repeat/item/index"> | </span>
		<a tal:condition="item/uri" tal:attributes="href item/uri" tal:content="item/label">item/label</a>
		<strong tal:condition-else="" tal:content="item/label">item/label</strong>
	</span>
	</p>

	<form action="" method="post" tal:attributes="data-df-challenge php:Dragonfly\Output\Captcha::generateHidden()">
	<table>
	<tbody>
		<tr tal:repeat="setting settings">
			<td tal:content="setting/label">setting/label</td>
			<td>
				<input tal:condition="exists:setting/input" tal:attributes="
					type setting/input/type;
					name setting/name;
					value setting/value;
					maxlength setting/input/maxlength"/>
				<input tal:condition-else="exists:setting/checkbox" type="checkbox" tal:attributes="
					name setting/name;
					value setting/value;
					checked setting/checkbox/checked"/>
				<select tal:condition-else="exists:setting/select" tal:attributes="name setting/name">
					<option tal:define="value setting/value" tal:repeat="option setting/select/options" tal:attributes="value repeat/option/key; selected php:${repeat/option/key} == ${value}" tal:content="option"></option>
				</select>
				<textarea tal:condition-else="exists:setting/textarea" tal:attributes="name setting/name; class setting/textarea/class" tal:content="setting/value" cols="50" rows="7"></textarea>
				<span tal:omit-tag="" tal:condition-else="exists:setting/debug">
					<label><input type="checkbox" name="error_level[]" tal:attributes="value setting/debug/value; checked setting/debug/display"/> Display</label>
					<label><input type="checkbox" name="log_level[]" tal:attributes="value setting/debug/value; checked setting/debug/log"/> Log</label>
				</span>
				<span tal:condition-else="" tal:content="structure setting/S_TYPE">setting/S_TYPE</span>
			</td>
			<td><i tal:condition="exists:setting/tooltip" class="infobox"><span tal:content="structure setting/tooltip">setting/tooltip</span></i></td>
		</tr>
	</tbody>
	<tbody tal:condition="php:6 == ${S_SECTION}">
		<tr>
			<td>Add new censored word</td>
			<td><input type="text" size="20" name="global[CensorList][]"/></td>
		</tr>
		<tr>
			<td>Censored words</td>
			<td><div tal:repeat="word censorlist"><input size="20" name="global[CensorList][]" tal:attributes="value word"/></div></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td colspan="0">
				<button i18n:translate="">_SAVECHANGES</button>
				<button type="reset" i18n:translate="">_RESET</button>
			</td>
		</tr>
	</tfoot>
	</table>
	</form>
</div>
