<div class="legend">{L_POST_A}</div>
<!-- INCLUDE forums/overall_header.html -->
<script language="JavaScript" type="text/javascript">
<!--
function checkForm() {
    formErrors = false;
    if (document.post.message.value.length < 2) {
        formErrors = "{L_EMPTY_MESSAGE}";
    }
    if (formErrors) {
        alert(formErrors);
        return false;
    } else {
        bbstyle(-1);
        return true;
    }
}
//-->
</script>

<form action="{S_POST_ACTION}" method="post" name="post" onsubmit="return checkForm(this)" {I18N}>

{POST_PREVIEW_BOX}
{ERROR_BOX}

<table width="100%" cellspacing="2" cellpadding="2" border="0">
    <tr>
        <td><a class="nav" href="{U_INDEX}">{L_INDEX}</a>
        <!-- BEGIN switch_not_privmsg -->
        {BC_DELIM} <a class="nav" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><br /><span class="gensmall">{FORUM_DESC}</span></td>
        <!-- END switch_not_privmsg -->
    </tr>
</table>

<table border="0" cellpadding="3" cellspacing="1" width="100%" class="forumline">
    <!-- BEGIN switch_username_select -->
    <tr>
        <td class="row1"><span class="gen"><b>{L_USERNAME}</b></span></td>
        <td class="row2"><span class="genmed"><input type="text" class="post" tabindex="1" name="username" size="25" maxlength="25" value="{USERNAME}" /></span></td>
    </tr>
    <!-- END switch_username_select -->
    <!-- BEGIN switch_privmsg -->
    <tr>
        <td class="row1"><span class="gen"><b>{L_USERNAME}</b></span></td>
        <td class="row2"><span class="genmed"><input type="text"  class="post" name="username" maxlength="25" size="25" tabindex="1" value="{USERNAME}" />&nbsp;<input type="submit" name="usersubmit" value="{L_FIND_USERNAME}" class="liteoption" onClick="window.open('{U_SEARCH_USER}', '_phpbbsearch', 'HEIGHT=250,resizable=yes,WIDTH=400');return false;" /></span></td>
    </tr>
    <!-- END switch_privmsg -->
    <tr>
      <td class="row1" width="22%"><span class="gen"><b>{L_SUBJECT}</b></span></td>
      <td class="row2" width="78%"> <span class="gen">
        <input type="text" name="subject" size="45" maxlength="60" style="width:450px" tabindex="2" class="post" value="{SUBJECT}" />
        </span> </td>
    </tr>
    <!-- IF S_TOPIC_ICON_SELECT -->
    <script language="Javascript">
    {ICONS_ARRAY}
    function iconpreview() {
        document.images.icon_preview.src=icons_array[document.post.topic_icon.options[document.post.topic_icon.selectedIndex].value];
    }
    </script>
    <tr>
        <td class="row1" width="22%"><span class="gen"><b>Topic icon</b></span></td>
        <td class="row2" width="78%"><span class="gen">
            <select style="width:175px" name="topic_icon" onclick="iconpreview()">
                <option value="0">No icon</option>
                <!-- BEGIN topic_icon_option -->
                <option value="{topic_icon_option.S_ICON_ID}" {topic_icon_option.S_SELECTED}>{topic_icon_option.S_ICON_NAME}</option>
                <!-- END topic_icon_option -->
            </select>
            <img width="15" height="15" src="images/spacer.gif" name="icon_preview" alt="" />
        </span></td>
    </tr>
    <script language="javascript">iconpreview();</script>
    <!-- ENDIF -->
    <tr>
      <td class="row1" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="1">
          <tr>
            <td><span class="gen"><b>{L_MESSAGE_BODY}</b></span> </td>
          </tr>
          <tr>
            <td valign="middle" align="center"> <br />
            <b>{L_EMOTICONS}</b>
            {SMILES_TABLE}
            </td>
          </tr>
        </table>
      </td>
      <td class="row2" valign="top"><span class="gen">
        {BBCODE_TABLE}
        <textarea name="message" rows="15" cols="35" wrap="virtual" style="width:450px" tabindex="3" class="post" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onchange="storeCaret(this);">{MESSAGE}</textarea>
      </span></td>
    </tr>
    <tr>
      <td class="row1" valign="top"><span class="gen"><b>{L_OPTIONS}</b></span><br /><span class="gensmall">{HTML_STATUS}<br />{BBCODE_STATUS}<br />{SMILIES_STATUS}</span></td>
      <td class="row2"><span class="gen"> </span>
        <table cellspacing="0" cellpadding="1" border="0">
          <!-- BEGIN switch_html_checkbox -->
          <tr>
            <td>
              <input type="checkbox" name="disable_html" {S_HTML_CHECKED} />
            </td>
            <td><span class="gen">{L_DISABLE_HTML}</span></td>
          </tr>
          <!-- END switch_html_checkbox -->
          <!-- BEGIN switch_bbcode_checkbox -->
          <tr>
            <td>
              <input type="checkbox" name="disable_bbcode" {S_BBCODE_CHECKED} />
            </td>
            <td><span class="gen">{L_DISABLE_BBCODE}</span></td>
          </tr>
          <!-- END switch_bbcode_checkbox -->
          <!-- BEGIN switch_smilies_checkbox -->
          <tr>
            <td>
              <input type="checkbox" name="disable_smilies" {S_SMILIES_CHECKED} />
            </td>
            <td><span class="gen">{L_DISABLE_SMILIES}</span></td>
          </tr>
          <!-- END switch_smilies_checkbox -->
          <!-- BEGIN switch_signature_checkbox -->
          <tr>
            <td>
              <input type="checkbox" name="attach_sig" {S_SIGNATURE_CHECKED} />
            </td>
            <td><span class="gen">{L_ATTACH_SIGNATURE}</span></td>
          </tr>
          <!-- END switch_signature_checkbox -->
          <!-- BEGIN switch_notify_checkbox -->
          <tr>
            <td>
              <input type="checkbox" name="notify" {S_NOTIFY_CHECKED} />
            </td>
            <td><span class="gen">{L_NOTIFY_ON_REPLY}</span></td>
          </tr>
          <!-- END switch_notify_checkbox -->
          <!-- BEGIN switch_delete_checkbox -->
          <tr>
            <td>
              <input type="checkbox" name="delete" />
            </td>
            <td><span class="gen">{L_DELETE_POST}</span></td>
          </tr>
          <!-- END switch_delete_checkbox -->
          <!-- BEGIN switch_type_toggle -->
          <tr>
            <td></td>
            <td><span class="gen">{S_TYPE_TOGGLE}</span></td>
          </tr>
          <!-- END switch_type_toggle -->
        </table>
      </td>
    </tr>
    {ATTACHBOX}
    {POLLBOX}
    <tr>
      <td class="catBottom" colspan="2" align="center" height="28"> {S_HIDDEN_FORM_FIELDS}<input type="submit" tabindex="5" name="preview" class="mainoption" value="{L_PREVIEW}" />&nbsp;<input type="submit" accesskey="s" tabindex="6" name="post" class="mainoption" value="{L_SUBMIT}" /></td>
    </tr>
  </table>

  <table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
    <tr>
      <td align="right" valign="top"><span class="gensmall">{S_TIMEZONE}</span></td>
    </tr>
  </table>
</form>

{TOPIC_REVIEW_BOX}
<!-- INCLUDE forums/overall_footer.html -->
