<IfModule mod_expires.c>
 <IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png|gif)$">
  Header set Cache-Control "public"
  </FilesMatch>
 </IfModule>
 ExpiresByType image/jpg A1814400
 ExpiresByType image/jpeg A1814400
 ExpiresByType image/png A1814400
 ExpiresByType image/gif A1814400
</IfModule>
