body#login > div {
	border: 1px solid #d3d3d3;
	margin: 0 auto;
	width: 472px;
}
body#login #page-body {
	padding:0;
}
body#login header.top {
	position:static;
}
body#login .error {
	border:1px solid #F99;
	background:#FEE;
	color:#F00;
	margin:0;
	padding:4px 18px;
}
body#login .login-content {
	padding:4px 18px 16px;
}
body#login .login-content input {
	height:27px;
	line-height:27px;
	padding:0;
	text-indent:4px;
	width:100%;
}
body#login .login-content input[type="email"] {
	text-indent:20px;
}
body#login button {
	float:right;
	margin: -1px -10px 0 0;
}
body#login .login-footer {
	background-color: #F1F1F1;
	background-image: linear-gradient(top, #f0f0f0, #e8e8e8);
	color:#000;
	border-top: 1px solid #d3d3d3;
	box-shadow: inset 1px 1px 0 0 #fff;
	min-height: 16px;
	padding:5px 18px;
}
body#login .login-footer label {
	display:inline-block;
	margin:0;
	text-shadow:0 1px 0 #FFF;
}

body#login .selectbox {
	display:block;
	height:27px;
	line-height:27px;
	margin-right: 31px;
}
body#login .selectbox select {
	padding-right: 31px;
	height:27px;
}
body#login .selectbox:after {
	right:-31px;
	width:26px;
}

body#login .forgot-pw {
	text-align:right;
}

.login {
	background-image: none;
}

#authenticate {
	margin: auto;
	border: 1px solid #c1c1c1;
	width: 360px;
	margin-top: 175px;
	padding:18px 50px;
}

#authenticate h1 {
	background: transparent url(../images/logo.png) scroll no-repeat center top;
	height: 38px;
	margin-top: 2px;
	margin-bottom: 15px;
	text-indent: -9999px;
}

#authenticate h1 + p {
	margin: 42px 0 30px 0;
	font-size: 12px;
}

#authenticate label {
	line-height:23px;
}

#authenticate input + label {
	width:auto;
}

#authenticate input[type=checkbox],
#authenticate input[type=radio] {
	margin-top:4px;
}
