
.bbcode div {
	margin:0.5em 0;
	position:relative;
}

.bbcode button,
.bbcode .selectbox {
	height:20px;
	margin:0 0.5em 0 0;
	padding:0;
	vertical-align: middle;
}

.bbcode button {
	background-color:#FFF;
	background-image:url(../images/bbcode.png);
	height:22px;
	width:24px;
}
.bbcode button.active {
	box-shadow: 0 0 1px 1px #47aee8;
}

.bbcode-b { background-position: 0 0; }
.bbcode-i { background-position: -24px 0; }

.bbcode-ltr { background-position: -144px 0; }
.bbcode-rtl { background-position: -168px 0; }

.bbcode-url   { background-position: -48px -22px; }
.bbcode-email { background-position: -72px -22px; }
.bbcode-img   { background-position: -96px -22px; }
.bbcode-video { background-position: -120px -22px; }

.bbcode-justify { background-position: -120px 0; }
.bbcode-left    { background-position: -48px 0; }
.bbcode-center  { background-position: -72px 0; }
.bbcode-right   { background-position: -96px 0; }

.bbcode-code  { background-position: -192px 0; }
.bbcode-php   { background-position: -216px 0; }
.bbcode-quote { background-position: -168px -22px; }
.bbcode-emoticon { background-position: -192px -22px; }

.bbcode-hr { background-position: -144px -22px; }

.bbcode div.bbcode-emoticons,
.bbcode div.bbcode-codes {
	background:#fff;
	border:1px solid #CCC;
	box-shadow: 1px 1px 1px #CCC;
	font-size: 24px;
	position:absolute;
	left:0;
	max-height:12em;
	overflow:auto;
	top:20px;
	width: 16em;
	z-index: 1;
}
.bbcode div.bbcode-emoticons *,
.bbcode div.bbcode-codes * {
	cursor: pointer;
	margin: 2px 4px;
}

.bbcode div.bbcode-codes {
	max-height:220px;
	width: 220px;
}
.bbcode div.bbcode-codes i {
	background:url(../images/bbcode-codes.png) no-repeat center top;
	display: inline-block;
	height:64px;
	width:64px;
}
.bbcode div.bbcode-codes i.bbcode-css { background-position: center -72px; }
.bbcode div.bbcode-codes i.bbcode-js  { background-position: center -144px; }
.bbcode div.bbcode-codes i.bbcode-xml { background-position: center -216px; }
.bbcode div.bbcode-codes i.bbcode-php { background-position: center -288px; }
.bbcode div.bbcode-codes i.bbcode-sql { background-position: center -360px; }
