# CPG Dragonfly CMS
# Copyright (c) 2004-2005 by CPG-Nuke Dev Team, dragonflycms.org
# Released under the GNU GPL version 2 or any later version

# $Source: /cvs/html/includes/.htaccess,v $
# $Revision: 9.2 $
# $Author: djmaze $
# $Date: 2005/12/17 04:05:47 $

# deny most common
<filesmatch "\.php$">
deny from all
</filesmatch>