<form method="post" id="post" name="post" action="{REQUEST_URI}" style="float:left;width:50%;">
<table class="forumline" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="3">
<!-- INCLUDE pagination.html -->
</td>
</tr>
<tr> 
	<th>{L_BAN_NAME}</th>
	<th>{L_BAN_TYPE}</th>
	<th>{L_DETAILS}</th>
</tr>
<!-- BEGIN seclist -->
<tr{seclist.S_BACKGROUND}>
	<td>
		<input type="checkbox" name="mark[]" value="{seclist.L_NAME}" />
		{seclist.L_NAME}
	</td>
	<td style="text-align:center;">{seclist.L_BAN_LEVEL}</td>
	<td style="text-align:center;"><a href="{seclist.U_DETAILS}">{L_DETAILS}</a></td>
</tr>
<!-- END seclist -->
<tr>
<td colspan="3">
<!-- IF U_PAGE == 'ips' || U_PAGE == 'floods' || U_PAGE == 'shields' -->
<script type="text/javascript">
/*<![CDATA[*/
function select_switch(id, status)
{
	var list = document.getElementById(id);
	for (i=0; i<list.length; ++i)
	{
		list.elements[i].checked = status;
	}
}
/*]]>*/
</script>
<span style="padding-right:50px;"><b><a href="javascript:select_switch('post',true);" class="gensmall">{L_MARK_ALL}</a> :: <a href="javascript:select_switch('post',false);" class="gensmall">{L_UNMARK_ALL}</a></b></span>
<!-- ENDIF -->
<input type="submit" name="submit" value="{L_REMOVE_SELECTED}" />
</td>
</tr>
</table>
</form>
