<div class="table1">
<img src="{THEME_PATH}/images/admin/security.png" height="24" width="24" style="vertical-align: middle;" />
<span class="genmed">| <strong><a href="{U_SECURITY}">Security</a></strong> |
<!-- BEGIN menu -->
<!-- IF menu.L_ID != 'uas' -->
<!-- IF menu.B_GET -->
	<a href="{menu.U_DETAILS}"><!-- ENDIF -->{menu.L_NAME}<!-- IF menu.B_GET --></a><!-- ENDIF --> |
	<!-- ENDIF -->
<!-- END menu -->
<img src="{THEME_PATH}/images/admin/security.png" height="24" width="24" style="vertical-align: middle;" />
</span>
</div>
