<div class="border">
	<a href="?admin&amp;op=packagemanager&amp;list">list</a> |
	<a href="?admin&amp;op=packagemanager&amp;installed">Installed</a> |
	<strong>settings</strong>
</div>

<form action="" method="post">
<h2>Repositories</h2>
<table class="border">
<thead><tr>
	<th>Name</th>
	<th>Location</th>
	<th>Public key</th>
	<th>Enabled</th>
	<th></th>
</tr></thead>
<tbody>
<tr tal:repeat="repo repositories">
	<td tal:content="repo/name">name</td>
	<td tal:content="repo/location">summary</td>
	<td tal:content="repo/public_key">summary</td>
	<td><input type="checkbox" tal:attributes="name 'repo[${repo/name}]'; checked repo/enabled"/></td>
	<td></td>
</tr>
</tbody><tfoot>
<tr>
	<td colspan="4"></td>
	<td><button name="save">save</button></td>
</tr>
<tr>
	<td><input name="add_repo[name]" placeholder="Name"/></td>
	<td><input name="add_repo[location]" placeholder="Location"/></td>
	<td><textarea name="add_repo[public_key]" style="width:100%" placeholder="Public key"/></td>
	<td><input type="checkbox" name="add_repo[enabled]"/></td>
	<td><button name="add">add</button></td>
</tr>
</tfoot>
</table>
</form>
