<!-- cpgmm footer -->
</fieldset></td><td valign="top" width="50%">
<fieldset><legend><b>{S_CPG_MMLEGEND}</b></legend>
<table border="0">
<tr><td><img src="{ICON_SELECT}" alt="" border="0" /></td><td>{S_CPG_MMVISIBLE}</td></tr>
<tr><td><img src="{ICON_HIDDEN}" alt="" border="0" /></td><td>{S_CPG_MMHIDDEN}</td></tr>
<tr><td><img src="{ICON_FORBID}" alt="" border="0" /></td><td>{S_INACTIVE}</td></tr>
<tr><td><img src="images/up.gif" alt="" border="0" /></td><td>{S_CPG_MMMOVEUP}</td></tr>
<tr><td><img src="images/down.gif" alt="" border="0" /></td><td>{S_CPG_MMMOVEDOWN}</td></tr>
<tr><td valign="top">{S_TITLE}</td><td>{S_CPG_MMTITLE}</td></tr>
<tr><td valign="top">{S_IMAGE}</td><td>{S_CPG_MMIMAGE}</td></tr>
<tr><td valign="top"><b>getlink</b></td><td>{S_CPG_MMGETLINK}<br /><i>Forums&amp;file=viewtopic</i></td></tr>
<tr><td valign="top"><b>link</b></td><td>{S_CPG_MMLSAME}<br /><i>adminlink('Delete') / http://example.com/</i></td></tr>
<tr><td valign="top"><b>web</b></td><td>{S_CPG_MMLPOPUP}<br /><i>adminlink('Delete') / http://example.com/</i></td></tr>
</table>
</fieldset></td></tr></table></div>
<!-- cpgmm footer end -->